{
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "parserOptions": {
    "ecmaVersion": 8
  },
  "plugins": ["prettier"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "max-len": ["error", { "code": 120 }],
    "import/prefer-default-export": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["**/test.js", "**/*.spec.js"]
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  }
}
